body {
  --color-accent: rgba(255, 60, 60, 0.741);
  --color-accent-hover: rgba(130, 27, 27, 0.741);
}

.text-danger {
  color: var(--color-accent) !important ;
}

.btn-danger {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-danger:hover {
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.btn-outline-danger {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-outline-danger:hover {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
  color: white;
}

.main-content-website section:nth-child(2n) {
  background-color: #2e3135 !important;
}

#firstRowHomePage {
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("img/fondLego.jpg");
  background-position: center;
}

.scrolled {
  background-color: white;
}

#textPresentation {
  background-color: #000000bd;
  margin-top: -100px;
}

.Description {
  max-width: 550px;
  margin: 15px auto;
  font-size: 16px;
}

.text-bienvenue {
  font-size: 22px;
}

.big-text {
  font-size: 50px;
  font-weight: bold;
}

#mouseBtn i {
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: 0.5s;
}

#mouseBtn i:hover {
  color: #0dcaf0;
  bottom: 30px;
  font-size: 50px;
  transform: translate(-50%, -50%) rotate(0deg);
  cursor: pointer;
}

a {
  color: initial;
}

.btn-social-share {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.all-competences .card-img-top {
  max-width: 100px;
  margin: auto;
}

a.nav-link.active {
  color: var(--color-accent) !important;
}

#navbarSite {
  transition: 0.5ms;
  z-index: 1000;
}

.temoignage-text {
  color: #8b8c8d;
}

.testimonial-icon {
  color: var(--color-accent);
  padding: 30px;
  font-size: 45px;
}

#temoignages {
  padding-bottom: 100px !important;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--color-accent);
}

.img-thumbnail {
  background-color: #3b3e42;
  border: #4d5052;
}

#scroll-top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--color-accent);
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
}

#scroll-top-button.show {
  opacity: 1;
  visibility: visible;
}

#color-setter {
  position: fixed;
  top: 15%;
  z-index: 1200;
  display: flex;
  left: -100px;
  transition: 0.5s;
}

#color-setter .color-pickers {
  width: 100px;
  padding: 15px;
  background-color: #181818;
  border-radius: 15px;
}

#color-setter .color-button {
  padding: 5px;
}

@keyframes rotateSetting {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#color-setter .color-button i {
  display: block;
  animation-name: rotateSetting;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#realisations img.realisations-img {
  max-width: 100%;
}

#realisations a {
  color: white;
  text-decoration: none;
}
#realisations a:hover {
  color: white;
  text-decoration: underline;
}

.contact-container .contact-header i {
  font-size: 45px;
  display: block;
  margin-bottom: 10px;
  text-decoration: none !important;
}

.contact-container .contact-header h3 {
  font-weight: 300px;
  font-size: 20px;
}

.contact-container .contact-body a,
.contact-container .contact-body {
  text-decoration: none;
}

.footer-page div {
  margin: 30px;
}

.footer-page {
  background-color: #181818;
  padding: 30px;
}

.footer-page a {
  text-decoration: none;
}

/* Set the size of the div element that contains the map */
#map {
  border-radius: 15px;
  margin-top: 60px;
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
